<section id="dash-nav">
	<div id="profile-bttn" class="dash-nav-div">1</div>
	<div id="connections-bttn" class="dash-nav-div">2</div>
	<div id="notifications-bttn" class="dash-nav-div">3</div>
	<div id="add-connection-btnn" class="dash-nav-div">4</div>
</section>

<section id="container">

	<div id="dash-content"></div>

</section>

<!-- TEMPLATES -->


<!-- profile view template -->
<script type="text/javascript" id="profile-view-template">
	<div id="profile-view-template-card-all">
		<div class="card-image">
		</div>
		<div class="card-info">
			<h3>Name:</h3>
			<p>User Name:</p>
			<p>Personal Email:</p>
			<p>Professional Email:</p>
			<p>Phone</p>
			<p>Company</p>
			<p>Position</p>
			<p>Website</p>
		<div>
	</div>

	<div id="profile-view-template-card-professional">
		<div class="card-image">
		</div>
		<div class="card-info">
			<h3>Name:</h3>
			<p>User Name:</p>
			<p>Professional Email:</p>
			<p>Phone</p>
			<p>Company</p>
			<p>Position</p>
			<p>Website</p>
		<div>
	</div>

	<div id="profile-edit-button"><div>
</script>

<!-- profile-edit-template -->
<script>

// <script type="text/javascript" id="profile-edit-template">
// 	<div id="profile-view-template-card-all">
// 		<div class="card-image-edit">
// 			<div class="card-image-"></div>
// 			<div class="card-image-edit-buttn"></div>
// 		</div class="card-info-edit">
// 			<form>
// 				Name: <field></field>
// 				User Name: <field</field>
// 				Professional Email: <field</field>
// 				Phone: <field</field>
// 				Company: <field</field>
// 				Position: <field</field>
// 				Website: <field</field>
// 			</form>
// 		<div>
// 	</div>

// 	<div id="profile-edit-template-card-professional-template">
// 		<div class="card-image">
// 		</div>
// 		<div class="card-info">
// 			<h3>Name:</h3>
// 			<p>User Name:</p>
// 			<p>Professional Email:</p>
// 			<p>Phone</p>
// 			<p>Company</p>
// 			<p>Position</p>
// 			<p>Website</p>
// 			<p></p>
// 		<div>
// 	</div>

// 	<div id="profile-edit-save-button"><div>
// </script>

</script>