
<div id="info-carousel" class="owl-carousel">
	<div class="item">Always Up-to-date</div>
	<div class="item">Puts the "Fun" in Functional</div>
	<div class="item">Contact Organization Made Simple</div>
</div>

<form id="email-input">
	<label>Interested in signing up for our beta? Submit your email address!
		<input type="email" name="user_email" required placeholder="Enter a valid email address">
	</label>
</form>

<!-- local js file -->
	<script type="text/javascript" src="/javascripts/main.js"></script>
