
<div id="info-carousel" class="owl-carousel">
	<div class="item"><img class="img-home" src="/images/Carousel1.jpg"></div>
	<div class="item"><img class="img-home" src="/images/Carousel2.jpg"></div>
	<div class="item"><img class="img-home" src="/images/Carousel3.jpg"></div>
</div>

<!-- local js file -->
	<script type="text/javascript" src="/javascripts/main.js"></script>
