<html>
<head>
	<title>OnTact</title>
	
	<!--  slick CDN  -->

	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
	 
	<!--  react.js  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>

	<!--  jQuery  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	 
	<!-- Showdown converter for react -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
	
	<!-- Include js plugin -->
	<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>


	
	<!-- local js file -->
	<script type="text/javascript" src="/javascripts/main.js"></script>

</head>
<body>
	<nav>
		<h1>OnTact</h1> 
		<% if session[:current_user] %>
			<form action="/sessions" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Log out">
			</form>
		<% else %>
			<form action="/login" method="get">
				<input type="submit" value="Log in">
			</form>
		<% end %>
	</nav>
	
	<%= yield %>

	<footer>
		<p>OnTact &copy; 2015</p>
	</footer>

</body>
</html>