<html>
<head>
	<title>OnTact</title>
	
	<!--  slick CDN  -->

	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
	 
	<!--  jQuery  -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	 
	<!-- Include js plugin -->
	<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>


	
	<!-- local js file -->
	<script type="text/javascript" src="/javascripts/main.js"></script>

</head>
<body>
	
	<%= yield %>

</body>
</html>