
<div id="div-login" >
	<h2 class="form-h2">Sign In</h2>
	<form id="login-form" action="/sessions" method="post">
		<input class="input-text" type="text" name="username" placeholder="Username"><br>
		<input class="input-text" type="password" name="password" placeholder="Password"><br>
		<input class="input-submit" type="submit" value="Log-In">
	</form>
</div>