<h3> Create an account </h3>
<form action="/users" method='post'>
	<input type="text" name="f_name" placeholder="first name"></br>
	<input type="text" name="l_name" placeholder="last name"></br>
	<input type="text" name="username" placeholder="handle"></br>
	<input type="text" name="account_email" placeholder="email"></br>
	<input type="password" name="password" placeholder="password"></br>
	<input type="submit">
</form>