<div class="signup-form-div">
	<h3 class="form-h2"> Create Your OnTact Account </h3>
	<form class="signup-form" action="/users" method='post'>
		<input class="input-text" type="text" name="f_name" placeholder="first name"></br>
		<input class="input-text" type="text" name="l_name" placeholder="last name"></br>
		<input class="input-text" type="text" name="username" placeholder="handle"></br>
		<input class="input-text" type="text" name="account_email" placeholder="email"></br>
		<input class="input-text" type="password" name="password" placeholder="password"></br>
		<input class="input-submit" type="submit">
	</form>
</div>