/*GOOGLE FONTS:*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

/*BEGIN UTILITIES*/

* {
  margin: 0;
  border: 0;
  padding: 0;
  /*font: inherit;*/	
}

body {
	background: #eeeeee;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #4d4d4d;
}

a {
	text-decoration: none;
	color: black;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

/*BEGIN NAV*/

nav { 
	width: 100%;
	padding: 10 10 60 25;
	margin-bottom: 20px;
	background-color: #0092B6;
}

#logo {
	font-family: 'Oswald', sans-serif;
	font-size: 40; 
	font-color: #f8f7f2;

	float: left;
}

#logo a{
	color: #f8f7f2;
	margin-right: 100px;
}

.nav-form{
	float: left;
	right: 25;
	top: 20;
	position: absolute;
}

.nav-form-bttn {
	color: #f8f7f2;
	font-size: 16;
	background-color: #0092B6;

	border-radius: 10%;
	padding: 10 5 10 5;
}

.nav-form-bttn:hover {

}

.beta-signup-form {
/*	float: left;
	top: 25;
	position: absolute;*/
}


/*FOOTER*/

footer {
	position: absolute;
    width: 100%;
    bottom: 0px;
}

footer p {
	text-align: center;
	margin: 0 auto;
	padding: 10 10 10 10;
	background-color: #666;

	font-family: 'Roboto', sans-serif;
	color: #f8f7f2; 
}

/*MAIN*/

#main {
	clear: both;
	float: none;
}


/*SLICK-TRACK*/
/*.slick-track {
	width: 90%;
	max-height: 500px;
}*/

/*FORMS*/
.form-h2{
	margin: 0 auto;
	text-align: center;
	margin: 10 10 10 10;
}

.input-text {
	width: 300px;
	border: 1px solid;
	border-color: #4d4d4d;
	margin: 10 10 10 10;
	padding: 10 5 10 5;

	margin: 0 auto;
	display: block;		
}

.input-text-edit{
	width: 300px;
	border: 1px solid;
	border-color: #4d4d4d;
	margin: 0 0 0 0;
	padding: 10 5 10 5;

	margin: 0 auto;
	display: block;		

}

.input-submit{
	width: 300px;
	margin:  10 10 10;
	padding: 10 5 10 5;

	border: 1px solid;
	border-color: #4d4d4d;

	color: #f8f7f2;
	font-size: 16;
	background-color: #0092B6;

	margin: 0 auto;
	display: block;		
}

/*HOME PAGE*/
#info-carousel{
	margin: 0 auto;
	width: 100%;
}

.img-home {
	max-width: 100%;
	/*text-align: center;*/
}

/*LOGIN PAGE*/
#div-login{
	width: 600px;
	margin: 0 auto;
}

/*DASHBOARD*/

#dash-nav {
	/*border: 1px solid;*/
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#dash-nav hr {
	width: 100%;
	border: 1px solid;
}

.dash-nav-div {
	display: inline-block;
	padding: 10px;
	/*border: 1px dashed;*/
	margin: 5 10 10 5;
	text-align: center;
}

.dash-nav-img {
	max-width: 65px;
	padding-left: 25;
	padding-right: 25;
	/*margin:;*/
}

#connection-card {
	border: 1px solid;
	width: 200px;
	height: 200px;
}

#container {
	width: 90%;
	margin: 0 auto;
	margin-top: 3%;
}

/*SEARCH RESULTS*/
#search-result-template {
	width: 600px;
	margin: 0 auto;
}

.srch-rslt-header {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin: 10 10 10 10;
}

.srch-rslt-preview {
	margin: 10 20 30 20;
	padding: 10;
	min-height: 200px;
	width: 400px;

	background-color: #f8f7f2;
	border: 1px solid black;

	margin: 0 auto;
}

.srch-rslt-preview p{
	font: 14px;
}

#add-search-result-template {
	width: 400px;
	margin: 0 auto;
}

/*PROFILE VIEW - CURRENT USER*/

#personal-card {
	float: left;
	
	margin: 10 20 30 20;
	padding: 10;
	min-height: 300px;
	width: 500px;

	background-color: #f8f7f2;
	border: 1px solid black;

	line-height: 25px;
}

#professional-card {
	float: left;
	
	margin: 10 20 30 20;
	padding: 10;
	min-height: 300px;
	width: 500px;

	background-color: #f8f7f2;
	border: 1px solid black;

	line-height: 25px;
}

#profile-edit-button {
	clear: both;
	width: 30px;
	padding: 10 20 10 20;
	/*margin: ;*/
	margin: 0 auto;
	text-align: center;

	color: #f8f7f2;
	font-size: 16;
	background-color: #0092B6;

	border: 1px solid;
	border-color: #4d4d4d;
}
/*EDIT CURRENT USER*/

#profile-edit {
	width: 600px;
	margin: 0 auto;
}

/* AVATAR SELECTORS */

/*select#avatar option[value="Panda"]{
	background-image:url(PandaAvatar.jpg);
}
select#avatar option[value="Monkey"]{
	background-image:url(MonkeyAvatar.jpg);
}
select#avatar option[value="Leprechaun"]{
	background-image:url(LepAvatar.jpg);
}*/


/* SLICK Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}