/*GOOGLE FONTS:*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

/*BEGIN UTILITIES*/

* {
  margin: 0;
  border: 0;
  padding: 0;
  /*font: inherit;*/	
}

body {
	background: #eeeeee;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #4d4d4d;
}

a {
	text-decoration: none;
	color: black;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.clear {
	clear: both;
	float: none;
}

/*BEGIN NAV*/

nav { 
	width: 100%;
	padding: 10 10 60 25;
	margin-bottom: 20px;
	background-color: #ffffff;
}

#logo {
	font-family: 'Oswald', sans-serif;
	font-size: 40; 
	font-color: #f8f7f2;

	/*padding-bottom: 30px;*/
	float: left;
}

#logo-img {
	height: 65px;
}

.nav-form{
	float: left;
	right: 25;
	top: 20;
	position: absolute;
}

.nav-form-bttn {
	color: #eb5b23;
	font-size: 16;
	/*background-color: #eeeeee;*/
	background-color: #ffffff;

	border-radius: 10%;
	padding: 10 5 10 5;
}

#nav-sign-up {
	float: left;
	right: 100;
	top: 20;
	position: absolute;
}

.nav-form-bttn:hover {

}

.nav-image{
	float: left;
	/*top: 20;*/
	left: 47%;
	position: absolute;

	height: 50px;
}

#beta-signup-form {
	float: left;
	top: 20;
	left: 30%;
	position: absolute;
}

.nav-email-input-label{
	color: #f8f7f2;
	font-size: 18;
	margin-right: 10px;
	/*padding-bottom: 10px;*/
}

.nav-email-input-text {
	width: 300px;
	border: 1px solid;
	border-color: #4d4d4d;
	padding: 10 5 10 5;
}
/*FOOTER*/

footer {
	position: fixed;
    width: 100%;
    bottom: 0px;
}

footer p {
	text-align: center;
	margin: 0 auto;
	padding: 10 10 10 10;
	background-color: #ffffff;

	font-family: 'Roboto', sans-serif;
	color: #666; 
}

/*MAIN*/

#main {
	clear: both;
	float: none;
}


/*SLICK-TRACK*/
/*.slick-track {
	width: 90%;
	max-height: 500px;
}*/

/*FORMS*/
.form-h2{
	margin: 0 auto;
	text-align: center;
	margin: 10 10 10 10;
}

.input-text {
	width: 300px;
	border: 1px solid;
	/*border-color: #4d4d4d;*/
	border-color: #ffffff;
	margin: 10 10 10 10;
	padding: 10 5 10 5;

	margin: 0 auto;
	display: block;

	font-size: 20px;		
}

/*.input-text-edit{
	width: 300px;
	border: 1px solid;
	border-color: #4d4d4d;
	margin: 0 0 0 0;
	padding: 10 5 10 5;

	margin: 0 auto;
	display: block;		

}*/

.input-submit{
	width: 300px;
	margin:  10 10 10;
	padding: 10 5 10 5;

	border: 1px solid;
	border-color: #4d4d4d;

	color: #f8f7f2;
	font-size: 16;
	background-color: #666;

	margin: 0 auto;
	display: block;		
}

/*HOME PAGE*/
#info-carousel{
	margin: 0 auto;
	width: 100%;
}

.img-home {
	max-width: 100%;
	/*text-align: center;*/
}

/*LOGIN PAGE*/
#div-login{
	width: 600px;
	margin: 0 auto;
}

/*SIGNUP PAGE*/
.signup-form-div{

}

.signup-form {
	
}

/*DASHBOARD*/

#dash-nav {
	/*border: 1px solid;*/
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#dash-nav hr {
	width: 100%;
	border: 1px solid;
}

.dash-nav-div {
	display: inline-block;
	padding: 10px;
	/*border: 1px dashed;*/
	margin: 5 10 10 5;
	text-align: center;
}

.dash-nav-img {
	max-width: 65px;
	padding-left: 25;
	padding-right: 25;
	/*margin:;*/
}

/*#connection-card {
	border: 1px solid;
	width: 200px;
	height: 200px;
}*/

#container {
	width: 90%;
	margin: 0 auto;
	margin-top: 3%;
}

/*NOTIFICATIONS*/

.notifications-title-div {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	/*width: 100;*/
}

.request-card-view {
	display: inline-block;
	margin: 0 auto;

	border: 1px solid;
	width: 350px;
	max-height: 200px;
	min-height: 200px;
	margin: 10 10 10 10;
	padding: 10 10 10 10;

	background-color: #F8ECC2;
	background-image: url('/images/cardassets/cardboard-texture-600x400.jpg');
	background-position: center;
}

.request-image-div {
	display: block;
	margin: 0 auto;

}

.request-image {
	max-height: 100px;
	text-align: center;
}

.accept{
	float: left;
	color: #eb5b23;
	background-color: #fff;
	padding: 0 5 0 5;
	font-weight: bold;
	bottom: 1;
	margin-left: 30%;
}

.reject{
	float: right;
	color: #4d4d4d;
	padding: 0 5 0 5;
	background-color: #fff;
	bottom: 1;
	margin-right: 30%;
}

/*SEARCH RESULTS*/
#search-result-template {
	width: 500px;
	margin: 0 auto;
}

.srch-rslt-header {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin: 10 10 10 10;
}

.srch-rslt-preview {
	background-color: #F8ECC2;
	background-image: url('/images/cardassets/cardboard-texture-600x400.jpg');
	background-position: center;

	width: 450px;
	min-height: 250px;
	margin: 0 auto;
	margin: 10 10 10 10;
	padding: 10 10 10 10;
}

.srch-rslt-preview h3 {
	font-size: 1.5em;
	text-align: center;

}

.srch-rslt-preview p {
	font-size: 1.2em;
}

.srch-rslt-preview p{
	font: 1.2em;
}

#add-search-result-template {
	width: 550px;
	margin: 0 auto;
}

#srch-rslt-select {
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffffff;
	font-size: 1.2em;
	padding: 10 0 10 0;
	height: 45px;
}

#invite-to-button-div {
	margin: 0 auto;
	margin-top: 20;

	text-align: center;
}

#invite-to-button-div-txt {
	width: 290px;
	margin:  10 10 10;
	padding: 10 5 10 5;

	color: #f8f7f2;
	font-size: 16;
	background-color: #eb5b23;

	text-align: center;
	margin: 0 auto;
}

/*PROFILE VIEW - CURRENT USER*/

#profile-view-template {
	margin: 0 auto;
	width: 90%;
}

#personal-card {
	float: left;
	margin: 0 auto;
}

#professional-card {
	float: left;
	margin: 0 auto;
}

.cardview {
	background-color: #F8ECC2;
	background-image: url('/images/cardassets/cardboard-texture-600x400.jpg');
	background-position: center;

	width: 525px;
	min-height: 325px;
	margin: 10 10 10 10;
	padding: 10 10 10 10;
}

.card-image-div {
}

.card-image {
	max-height: 200px;
	display: block;
	margin: 0 auto;
}

.card-info h3 {
	font-size: 1.5em;
	text-align: center;
}

.card-view-name {
	font-size: 1.5em;
	text-align: center;	
}

.card-headline{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	color: #FFF;
}

.card-info hr {
	width: 100px;
	border: 1px solid #eb5b23;
	text-align: center;
	margin: 0 auto;
}

.card-view-hr {
	width: 100px;
	border: 1px solid #eb5b23;
	text-align: center;
	margin: 0 auto;	
}

#view-connection-template {
	width: 550px;
	margin: 0 auto;
}

#profile-edit-button {
	padding: 10 20 10 20;
	/*margin: ;*/
	margin: 0 auto;
	text-align: center;

	color: #666;
	font-size: 2em;
}

/*EDIT CURRENT USER*/

#profile-edit {
	/*margin: 0 auto;*/
}

#edit-all-section{
	margin: 20 0 20 0;
}

#edit-info-section {
	float: left;
	margin: 0 auto;
	/*margin: 10 0 30 0;*/
	/*width: 800px;*/
}

#edit-info-1 {
	float: left;
	/*width: 350px;*/
	margin: 0 auto;
	margin-right: 10%;
}

#edit-info-2 {
	float: left;
	/*width: 350px;*/
	margin: 0 auto;
	margin-right: 10%;
}

.edit-info-label{

}

#edit-avatar-section {
	float: left;
	margin: 0 0 30 0;
	/*max-width: 40%;*/
}

.edit-avatar-divs {
	float: left;
	text-align: center;	
}

.edit-avatar-img{
	/*max-width: 50px;*/
	max-height: 100px;
	display: inline-block;
	margin: 10 10 30 10;
}

.edit-avatar-radio{
	display: inline-block;
	margin-top: 10px;
}

#submit-edit {

}
/* AVATAR SELECTORS */

/*select#avatar option[value="Panda"]{
	background-image:url(PandaAvatar.jpg);
}
select#avatar option[value="Monkey"]{
	background-image:url(MonkeyAvatar.jpg);
}
select#avatar option[value="Leprechaun"]{
	background-image:url(LepAvatar.jpg);
}*/


/*SCROLLADEX*/

#scrolladex{
	text-align: center;
}

.connection-card {
	border: 1px solid;
	background-color: #F8ECC2;
	background-image: url('/images/cardassets/cardboard-texture-600x400.jpg');
	background-position: center;

	width: 300px;
	max-height: 250px;
	margin: 10 10 10 10;
	padding: 10 10 10 10;
}

.card-image-div-scrolladex {
	display: block;
	margin: 0 auto;
}

.card-image-scrolladex{
	display: block;
	margin: 0 auto;
	max-height: 100px;
}

.card-info-scrolladex {
}

.headline-scrolladex{
	color: #fff;
	font-weight: bold;
}

.slick-prev {
	width: 150px;
	padding: 10 5 10 5;

	border: 1px solid;
	border-color: #4d4d4d;

	color: #f8f7f2;
	font-size: 16;
	background-color: #666;

	margin: 0 auto;
	margin:  10 10 10 10;		
}

.slick-next{
	width: 150px;
	padding: 10 5 10 5;

	border: 1px solid;
	border-color: #4d4d4d;

	color: #f8f7f2;
	font-size: 16;
	background-color: #666;

	margin: 0 auto;
	margin:  10 10 10 10;	
}

/* SLICK Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}